---
title: 2026 Conference | Center for Human Language & Development
body_classes: path-events
---
- content_for :top_banner, partial('acrobat_banner')
:plain
    <div class="block-screenslate-content.block.block-system.block-system-main-block">
      <div class=".views-element-container">
        <div id="jobs">
          <div class="abstract-title">
                <h2 class="title">Must We Mean What We Play?</h2>
          </div>
          <div class="headline">
                <h2>Luke Ford, NSSR</h2>
          </div>
          <div class="abstract">
          <p class="abstract">
          Play is an activity that exists at the border between human language and animal behavior. There is a sense in which it is “pre-linguistic,” in that babies and non-human animals are capable of play but not capable of speech. That play is the very practice that scaffolds our development toward more complex social organization and, eventually for humans, linguistic acquisition and use. This developmental story is one that is well-documented in ethology and child psychology, but this paper focuses on a curious pair of footnotes in play studies which, when read against this understanding of play, lead to a very thorny conception of meaning, not just of play-activity, but of actions and utterances in general. In Brian Sutton-Smith’s The Ambiguity of Play (1997), he cites Richard Schencher who, when talking about the play of dogs states that, “a playful nip is not only not a bite, it is also not not a bite. That is, it is a positive, the sum of two negatives.” He also cites Kenneth Burke’s Language as Symbolic Action, which looks at play as a “dramatistic negative,” which is exemplified in animals that lack the ability to utter the phrase “no,” as a way indicating the negative through an affirmative action that is not the same as that which it represents (Burke, 1966, p. 423). In this way, the playful nip may not be a bite, but it is what a bite means. Meaning-making by these lights becomes available to us at first only in the negative. By focusing on the grammar of play-activity as generating meaning in the negative, we can gain new insights into the embodied nature of our language and show that play is not something removed from our meaning-making processes, but foundational to them.</p>
        </div>

        <div class="abstract-title">
                <h2 class="title">Multimodal Bodies Embodied Language: Cheering and Affect in Taiwanese Professional Baseball</h2>
          </div>
          <div class="headline">
                <h2>Liang-Ya (Leon) Chang, Columbia</h2>
          </div>
          <div class="abstract">
          <p class="abstract">
          This essay examines cheering activities in Taiwanese professional baseball from an anthropological perspective, focusing on how affect is collected, organized, and transmitted through a careful choreography of verbal language, bodily movement, music, and sound effects. Based on ethnographic work conducted at Fubon Guardians’ games in Xinzhuang Stadium, I analyze cheering activities as a multimodal semiotic system that brings language, bodies, and minds into coordination.</p>

          <p class="abstract">I argue that cheering activities operate as a semiotic mediation between the unfolding dynamics of a game and the collective atmosphere of the stadium. On the one hand, cheerleaders and DJs translate the flow of the game into affectively apprehensible signs through dance, music, and sound effects. On the other hand, the fans’ involvement in cheering activities collects and synchronizes the diffused affect circulating among spectators and projects it back onto the field as “momentum.”</p>

          <p class="abstract">The structure of these activities reveals more: the dance moves, chants, and lyrics of each player’s theme song correspond to the player’s role on the team, while the tempo aligns with their playing style. Meanwhile, music and sound effects index shifting dynamics in games. Crucially, the timing of these elements follows the rules of baseball. Key segments of cheering, verbal or non-verbal, are organized around what I call a “sense of accumulation”: three strikes for an out, three outs for an inning, four balls for a walk, and four bases for a run. These rules provide a linguistic framework that structures the rhythm of both the game and the cheering practices. In a broader sense, cheering activities function as semiotic interfaces, but for participants, those are embodied sentiments; all tasks carry affect and meaning within a grammatical structure (baseball rules), creating a taskscape, while the activities as a whole are a linguistic subject through which fans express their thoughts and feelings.</p>
        </div>

    <div class="abstract-title">
                <h2 class="title">Self-Relevance and Embodiment of Language: Developmental Influences of Childhood Trauma on Language Processing in Adulthood</h2>
          </div>
          <div class="headline">
                <h2>Ellen Yates & Jared Fel, NSSR</h2>
          </div>
          <div class="abstract">
          <p class="abstract">
          Language is not processed as a neutral semantic input but instead through self-schemas and affective systems shaped by developmental socialized experiences. If bodies encode individual and unique relational histories, identical words may carry different subjective weight. Psychiatric syndromes and symptoms have long been known to interact with self-referential language processing;  eanwhile, academic interest in childhood trauma (CT) has produced evidence that CT influences the development of self-schemas and interoceptive capacities. Together, these influences may result in a negative self-relevance bias that is detectable through self-report, behavior, and physiologymapped onto the self, contributing to persistent difference in self-referential processing. To examine this this relationship between lived histories and self-relevant language processing, adults with psychiatric diagnoses who did and did not have CT histories, along with individuals with no psychiatric diagnoses (N=180) rated words (trauma-related, positive, negative, neutral) on self-relevance and arousal while reaction time and brain reactions were captured using functional magnetic resonance imaging (fMRI).</p>

          <p class="abstract">Across valence, the psychiatric group was significantly more likely to take longer than 1.5 seconds to respond, potentially explained by avoidance of particularly salient stimuli or psychomotor retardation commonly associated with depressive symptoms; no such difference was observed between the CT to no-CT group. Meanwhile, for trauma and negative words, self-relevance was higher for both psychiatric groups relative to controls, and for CT compared to no-CT individuals. Above and beyond symptoms and arousal, CT explained a significant proportion of the variance in self-relevance of trauma and negative words, suggesting a negative bias like that seen in adults with depression. Notably, BOLD reactivity to trauma words across a meta-analytically derived self-referential processing network was significantly higher in the CT group compared to the no-CT group, mirroring the behavioral and self-report findings. For positive words, self-relevance was higher for the no-CT psychiatric diagnosis group than controls. An additional comparison yielded a trending result: rSimilarly, brain reactivity to positive words in the left anterior insula, a region of the brain associated with the integration of interoception, cognition, and affect, was marginally higher in the no-CT group compared to the CT group.</p>
          <p class="abstract">Together, these findings suggest that life histories may influence the processing of self-relevant by shaping the development of self-schemas and interoceptive capacity. Moreover, these findings suggest that this influence is visible not only through behavior or self-report but also in one’s neural responses, raising new questions about the embodiment of both language.</p>

        </div>
    <div class="abstract-title">
                <h2 class="title">Meaning and Deferring</h2>
          </div>
          <div class="headline">
                <h2>Joseph Lawal, Yale</h2>
          </div>
          <div class="abstract">
          <p class="abstract">One surprising but now widely accepted development in the philosophy of language in the last 50 years has been the realization that what our words mean and refer to depends on our social and physical environments – a view often called semantic externalism. Despite the widespread acceptance of this view, and an appreciation of the wide-ranging consequences of this view, I will suggest, there remain misunderstandings about what semantic externalism involves. After summarizing and motivating semantic externalism, I will suggest that there is a widespread misconception about the role deference plays in the best versions of the theory. On standard accounts, it is in virtue of the deferential intentions of a speakers that their words are fixed by their social and physical environments, that is, in virtue of semantic deference. This is, I argue, the wrong way to think about the role of deference in externalism. The easiest way to see why this is so is to separate out two different ways of thinking about deference in the kinds of cases which are supposed to support externalism: what I’ll call epistemic deference and metalinguistic deference. Once we give up talk of semantic deference, it becomes clear that the kind of deference often invoked tacitly reintroduces elements antithetical to deep externalist insights; this is brought out most clearly on metalinguistic readings of the cases which motivate externalism. I will argue that in place of metalinguistic deference, it is most fruitful for philosophers working on these issues to focus on epistemic deference, whereby we allow ourselves to be corrected by those who know more about the things we’re talking about than we do, and allow them to tell us about what our words mean. Settling these issues helps make clear what role exactly our own minds play in determining semantic content, and what role is played by the world around us.</p>
        </div>
      </div>
    </div>
