---
title: Angelina Vasquez | Center for Human Language & Development
body_classes: path-events
---
- content_for :top_banner, partial('acrobat_banner')
:plain
    <div class="block-screenslate-content.block.block-system.block-system-main-block">
      <div class=".views-element-container">
        <div id="jobs">
        <div class="view view-latest-articles view-id-latest_articles view-display-id-block_1 js-view-dom-id-bff5297a02465334a9bb30fa2e1be30247ca59ce95043187061fd8c068f610cf">
        <div class="view-content">
        <div data-drupal-views-infinite-scroll-content-wrapper class="views-infinite-scroll-content-wrapper clearfix">
       <div class="views-row" style="padding-bottom:0; margin-top:0.625rem; border:0px">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser" style="border: 0px; padding-top:1rem; padding-bottom:0; margin-bottom:0">
              <div class="node__content">
                <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">
                      <img src="/images/people/angelina_vasquez.jpg" alt="Angelina Vasquez" title="Angelina Vasquez"/>
                  </div>
                  <div>
                  </div>
                  <div>
                  <h2 style="font-family: 'Neue',sans-serif; font-weight: bold; text-transform: uppercase; font-size:1.25em">
                      Angelina Vasquez
                    </h2>
                  </div>
                  <a href="mailto:vasqa981@newschool.edu"><h2 class="contact">vasqa981 [at] newschool.edu</h2></a>
                  </div>
                  </article>
              </div>
            </article>
          </div>
          <div class="bio">
          <p class="bio">Angelina is a 2nd-year PhD student whose primary research focuses on social memory. She holds a BA in Psychology with minors in Dance and Criminal Justice Studies from <a href="https://www.csusm.edu/index.html">CSU San Marcos</a> and holds an MA in Experimental Psychology from <a href="https://www.brooklyn.edu/">CUNY Brooklyn College</a>. While the majority of her work has focused on the malleability of memory, her current dissertation focus is on how geography, identity, and education influence national collective memories in Mexican-Americans.</p>
        </div>
        </div>
        </div>
        </div>
      </div>
    </div>
