---
title: Grace Johnson | Center for Human Language & Development
body_classes: path-events
---
- content_for :top_banner, partial('acrobat_banner')
:plain
    <div class="block-screenslate-content.block.block-system.block-system-main-block">
      <div class=".views-element-container">
        <div id="jobs">
        <div class="view view-latest-articles view-id-latest_articles view-display-id-block_1 js-view-dom-id-bff5297a02465334a9bb30fa2e1be30247ca59ce95043187061fd8c068f610cf">
        <div class="view-content">
        <div data-drupal-views-infinite-scroll-content-wrapper class="views-infinite-scroll-content-wrapper clearfix">
       <div class="views-row" style="padding-bottom:0; margin-top:0.625rem; border:0px">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser" style="border: 0px; padding-top:1rem; padding-bottom:0; margin-bottom:0">
              <div class="node__content">
                <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">
                      <img src="/images/people/grace_johnson.jpg" alt="Grace Johnson" title="Grace Johnson"/>
                  </div>
                  <div>
                  </div>
                  <div>
                  <h2 style="font-family: 'Neue',sans-serif; font-weight: bold; text-transform: uppercase; font-size:1.25em">
                      Grace Johnson
                    </h2>
                  </div>
                  <a href="mailto:johng992@newschool.edu"><h2 class="contact">johng992 [at] newschool.edu</h2></a>
                  </div>
                  </article>
              </div>
            </article>
          </div>
          <div class="bio">
          <p class="bio">Grace Johnson is an undergraduate student at <a href="https://www.newschool.edu/">The New School</a> studying <a href="https://www.newschool.edu/nssr/psychology/">Psychology</a> and <a href="https://www.newschool.edu/parsons/bfa-fine-arts/">Fine Art</a>. Her work explores the intersections of language, cognition, and creative expression. Through The Human Language &amp; Development Lab, she assists with research by collecting and organizing data for the Language Portraits project, working closely with children to document their linguistic experiences. Combining an artistic eye with a curiosity about human development, Grace is passionate about understanding how young learners communicate, imagine, and make meaning through language.</p>
        </div>
        </div>
        </div>
        </div>
      </div>
    </div>
