---
title: Lorraine Afflitto | Center for Human Language & Development
body_classes: path-events
---
- content_for :top_banner, partial('acrobat_banner')
:plain
    <div class="block-screenslate-content.block.block-system.block-system-main-block">
      <div class=".views-element-container">
        <div id="jobs">
        <div class="view view-latest-articles view-id-latest_articles view-display-id-block_1 js-view-dom-id-bff5297a02465334a9bb30fa2e1be30247ca59ce95043187061fd8c068f610cf">
        <div class="view-content">
        <div data-drupal-views-infinite-scroll-content-wrapper class="views-infinite-scroll-content-wrapper clearfix">
       <div class="views-row" style="padding-bottom:0; margin-top:0.625rem; border:0px">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser" style="border: 0px; padding-top:1rem; padding-bottom:0; margin-bottom:0">
              <div class="node__content">
                <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">
                      <img src="/images/people/lorraine_afflitto.jpg" alt="Lorraine Afflitto" title="Lorraine Afflitto"/>
                  </div>
                  <div>
                  </div>
                  <div>
                  <h2 style="font-family: 'Neue',sans-serif; font-weight: bold; text-transform: uppercase; font-size:1.25em">
                      Lorraine Afflitto
                    </h2>
                  </div>
                  <a href="mailto:affll767@newschool.edu"><h2 class="contact">affll767 [at] newschool.edu</h2></a>
                  </div>
                  </article>
              </div>
            </article>
          </div>
          <div class="bio">
          <p class="bio">Lorraine holds a BSN and MSN from <a href="https://www.nursing.columbia.edu/">Columbia University</a> and an MA in Psychology and MPhil in <a href="https://www.newschool.edu/nssr/phd-cognitive-social-developmental-psychology/">Cognitive, Social, and Developmental Psychology</a> from the <a href="https://www.newschool.edu/nssr/">New School for Social Research</a>. She researches infant social cognition with a primary interest in how infants make sense of the social world and how the processes that support that sense-making emerge.</p>
        </div>
        </div>
        </div>
        </div>
      </div>
    </div>
