---
title: Max Choi-Henslee | Center for Human Language & Development
body_classes: path-events
---
- content_for :top_banner, partial('acrobat_banner')
:plain
    <div class="block-screenslate-content.block.block-system.block-system-main-block">
      <div class=".views-element-container">
        <div id="jobs">
        <div class="view view-latest-articles view-id-latest_articles view-display-id-block_1 js-view-dom-id-bff5297a02465334a9bb30fa2e1be30247ca59ce95043187061fd8c068f610cf">
        <div class="view-content">
        <div data-drupal-views-infinite-scroll-content-wrapper class="views-infinite-scroll-content-wrapper clearfix">
       <div class="views-row" style="padding-bottom:0; margin-top:0.625rem; border:0px">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser" style="border: 0px; padding-top:1rem; padding-bottom:0; margin-bottom:0">
              <div class="node__content">
                <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">
                      <img src="/images/people/max_choi_henslee.jpg" alt="Max Choi-Henslee" title="Max Choi-Henslee"/>
                  </div>
                  <div>
                  </div>
                  <div>
                  <h2 style="font-family: 'Neue',sans-serif; font-weight: bold; text-transform: uppercase; font-size:1.25em">
                      Max Choi-Henslee
                    </h2>
                  </div>
                  <a href="mailto:MaxChoiHenslee@newschool.edu"><h2 class="contact">MaxChoiHenslee [at] newschool.edu</h2></a>
                  </div>
                  </article>
              </div>
            </article>
          </div>
          <div class="bio">
          <p class="bio">Max Choi-Henslee is a fourth-year student in the BA/BFA program at <a href="https://www.newschool.edu/parsons/">Parsons</a> and <a href="https://www.newschool.edu/lang/">Lang</a>. Their areas of study include illustration, animation, and psychology. They are interested in psychological trauma, sleep, dreams, cultural effects, and multimedia filmmaking. They currently work as a research assistant in Wendy D'Andrea's <a href="https://www.dandreatraumalab.com/">Trauma &amp; Psychophysiology Lab</a>, contributing to papers and coding data. In the Human Language &amp; Development Lab, they assist with video editing, infographic design, and data coding. Simultaneously, they are creating a hand-drawn animated thesis film based on a familial history of immigration to the Southwest. In their spare time, Max helps organize the <a href="https://www.instagram.com/parsonsanimationfestival/?hl=en">Parsons Animation Film Festival</a>, watches films, and doodles on the subway.</p>
        </div>
        </div>
        </div>
        </div>
      </div>
    </div>
