---
title: Monika Golakoti | Center for Human Language & Development
body_classes: path-events
---
- content_for :top_banner, partial('acrobat_banner')
:plain
    <div class="block-screenslate-content.block.block-system.block-system-main-block">
      <div class=".views-element-container">
        <div id="jobs">
        <div class="view view-latest-articles view-id-latest_articles view-display-id-block_1 js-view-dom-id-bff5297a02465334a9bb30fa2e1be30247ca59ce95043187061fd8c068f610cf">
        <div class="view-content">
        <div data-drupal-views-infinite-scroll-content-wrapper class="views-infinite-scroll-content-wrapper clearfix">
       <div class="views-row" style="padding-bottom:0; margin-top:0.625rem; border:0px">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser" style="border: 0px; padding-top:1rem; padding-bottom:0; margin-bottom:0">
              <div class="node__content">
                <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">
                      <img src="/images/people/monika_golakoti.jpg" alt="Monika Golakoti" title="Monika Golakoti"/>
                  </div>
                  <div>
                  </div>
                  <div>
                  <h2 style="font-family: 'Neue',sans-serif; font-weight: bold; text-transform: uppercase; font-size:1.25em">
                      Monika Golakoti
                    </h2>
                  </div>
                  <a href="mailto:golakots@newschool.edu"><h2 class="contact">golakots [at] newschool.edu</h2></a>
                  </div>
                  </article>
              </div>
            </article>
          </div>
          <div class="bio">
            <p class="bio">Sree Sushma 'Monika' Golakoti is an MA student, Community Engagement Manager for the <a href="https://www.foodscholarshipjustice.org/">Food and Social Justice Action Research (FJAR) Lab</a> and Lab Manager and Researcher in the <a href="https://www.sextechlab.org/">SexTech Lab</a>. She oversees projects on gender, sexuality, technology, and society, combining technical expertise with a commitment to social justice. Beyond <a href="https://www.newschool.edu/">The New School</a>, Monika is an Adjunct Lecturer at <a href="https://www.ccny.cuny.edu/?srsltid=AfmBOoob6gwhkMjNqcoVkcy7pvq67y9SF6vuhFboky8CHLP2p0KVAF43">The City College of New York</a> and <a href="https://www.bmcc.cuny.edu/">Borough of Manhattan Community College</a>, integrating psychology and technology in teaching.  With a Master of Arts in General Psychology and a Bachelor of Technology in Computer Science, Monika's experience spans academia, research, and administration. Passionate about interdisciplinary collaboration, Monika works to bridge disciplines, amplify marginalized voices, and harness technology for meaningful societal impact.</p>
        </div>
        </div>
        </div>
        </div>
      </div>
    </div>
