---
title: Saina Aryanejad | Center for Human Language & Development
body_classes: path-events
---
- content_for :top_banner, partial('acrobat_banner')
:plain
    <div class="block-screenslate-content.block.block-system.block-system-main-block">
      <div class=".views-element-container">
        <div id="jobs">
        <div class="view view-latest-articles view-id-latest_articles view-display-id-block_1 js-view-dom-id-bff5297a02465334a9bb30fa2e1be30247ca59ce95043187061fd8c068f610cf">
        <div class="view-content">
        <div data-drupal-views-infinite-scroll-content-wrapper class="views-infinite-scroll-content-wrapper clearfix">
       <div class="views-row" style="padding-bottom:0; margin-top:0.625rem; border:0px">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser" style="border: 0px; padding-top:1rem; padding-bottom:0; margin-bottom:0">
              <div class="node__content">
                <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">
                      <img src="/images/people/saina_aryanejad.jpg" alt="Saina Aryanejad" title="Saina Aryanejad"/>
                  </div>
                  <div>
                  </div>
                  <div>
                  <h2 style="font-family: 'Neue',sans-serif; font-weight: bold; text-transform: uppercase; font-size:1.25em">
                      Saina Aryanejad
                    </h2>
                  </div>
                  <a href="mailto:aryas753@newschool.edu"><h2 class="contact">aryas753 [at] newschool.edu</h2></a>
                  </div>
                  </article>
              </div>
            </article>
          </div>
          <div class="bio">
          <p class="bio">Saina is a first-year <a href="https://www.newschool.edu/nssr/ma-general-psychology/">Psychology</a> MA student specializing in <a href="https://www.newschool.edu/nssr/ma-concentration-mental-health-substance-abuse-counseling/">Substance Use and Mental Health</a>. Her research interests are centered around how trauma shapes attachment patterns and emotion regulation. Along with how these processes play out in romantic and family relationships. She currently assists with projects on infant emotional attachment and overhearing studies. Outside the lab, she is co-leads a project involving body image, wardrobe, and disability, with a focus on lived experience and mental health. In addition she assists as a trained PM+ helper.</p>
        </div>
        </div>
        </div>
        </div>
      </div>
    </div>
