---
title: Sydney Segal | Center for Human Language & Development
body_classes: path-events
---
- content_for :top_banner, partial('acrobat_banner')
:plain
    <div class="block-screenslate-content.block.block-system.block-system-main-block">
      <div class=".views-element-container">
        <div id="jobs">
        <div class="view view-latest-articles view-id-latest_articles view-display-id-block_1 js-view-dom-id-bff5297a02465334a9bb30fa2e1be30247ca59ce95043187061fd8c068f610cf">
        <div class="view-content">
        <div data-drupal-views-infinite-scroll-content-wrapper class="views-infinite-scroll-content-wrapper clearfix">
       <div class="views-row" style="padding-bottom:0; margin-top:0.625rem; border:0px">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser" style="border: 0px; padding-top:1rem; padding-bottom:0; margin-bottom:0">
              <div class="node__content">
                <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">
                      <img src="/images/people/sydney_segal.jpg" alt="Sydney Segal" title="Sydney Segal"/>
                  </div>
                  <div>
                  </div>
                  <div>
                  <h2 style="font-family: 'Neue',sans-serif; font-weight: bold; text-transform: uppercase; font-size:1.25em">
                      Sydney Segal
                    </h2>
                  </div>
                  <a href="mailto:Sydney@newschool.edu"><h2 class="contact">Sydney [at] newschool.edu</h2></a>
                  </div>
                  </article>
              </div>
            </article>
          </div>
          <div class="bio">
          <p class="bio">Sydney Segal is a doctoral student in Clinical Psychology whose research centers on early development, attachment, and the role of communication within caregiver–child relationships. She is the former lab manager of the Human Language &amp; Development Lab and also a member of the <a href="https://center-for-attachment.com/">Center for Attachment Research</a>. Within the Human Language and Development Lab, Sydney investigates nonverbal communication among Tseltal Maya mother–infant dyads, with a particular focus on breastfeeding as a contributor to attachment formation in cross-cultural contexts. Within the <a href="https://center-for-attachment.com/">Center for Attachment Research</a>, she examines children's understanding of parental technoference&mdash;technology-based interruptions to parent–child interactions&mdash;using play- and language-based measures, exploring how parental device use and limit-setting shape children's device regulation and attachment representations. Sydney formerly worked as an actor, and she also enjoys hiking and taking long walks around the city.</p>
        </div>
        </div>
        </div>
        </div>
      </div>
    </div>
