---
title: Velina Feuzeu | Center for Human Language & Development
body_classes: path-events
---
- content_for :top_banner, partial('acrobat_banner')
:plain
    <div class="block-screenslate-content.block.block-system.block-system-main-block">
      <div class=".views-element-container">
        <div id="jobs">
        <div class="view view-latest-articles view-id-latest_articles view-display-id-block_1 js-view-dom-id-bff5297a02465334a9bb30fa2e1be30247ca59ce95043187061fd8c068f610cf">
        <div class="view-content">
        <div data-drupal-views-infinite-scroll-content-wrapper class="views-infinite-scroll-content-wrapper clearfix">
       <div class="views-row" style="padding-bottom:0; margin-top:0.625rem; border:0px">

            <article data-history-node-id="64631" role="article" about="" class="node node--type-event node--promoted node--view-mode-teaser" style="border: 0px; padding-top:1rem; padding-bottom:0; margin-bottom:0">
              <div class="node__content">
                <div class="field field--name-field-author field--type-entity-reference field--label-hidden field__item">
                      <img src="/images/people/velina_feuzeu.jpg" alt="Velina Feuzeu" title="Velina Feuzeu"/>
                  </div>
                  <div>
                  </div>
                  <div>
                  <h2 style="font-family: 'Neue',sans-serif; font-weight: bold; text-transform: uppercase; font-size:1.25em">
                      Velina Feuzeu
                    </h2>
                  </div>
                  <a href="mailto:feuzv329@newschool.edu"><h2 class="contact">feuzv329 [at] newschool.edu</h2></a>
                  </div>
                  </article>
              </div>
            </article>
          </div>
          <div class="bio">
          <p class="bio">Velina (she/her) is a BA/BFA <a href="https://www.newschool.edu/parsons/fashion-school/">Fashion</a> and <a href="https://www.newschool.edu/nssr/economics/">Economics</a> student at <a href="https://www.newschool.edu/parsons/">Parsons</a> and <a href="https://www.newschool.edu/lang/">Lang</a>, curious about the intersection of creativity and analysis. She works in the Language Portrait study, learning about how children express themselves through language. She's interested in marketing, consumer behavior, and the mindset of producers, and values interdisciplinary thinking. Outside of the lab, she's also the Communications Officer for the <a href="https://www.instagram.com/bsuxtns/">Black Student Union</a>, a Student Ambassador for the Admissions Department, and an Arts & Culture Reporter for the <a href="https://www.newschoolfreepress.com/">New School Free Press.</a></p>
        </div>
        </div>
        </div>
        </div>
      </div>
    </div>
