---
title: 2026 Conference | Center for Human Language & Development
body_classes: path-events
---
- content_for :top_banner, partial('acrobat_banner')
:plain
    <div class="block-screenslate-content.block.block-system.block-system-main-block">
      <div class=".views-element-container">
        <div id="jobs">
          <div class="abstract-title">
                <h2 class="title">The Politics around Rohingya Language Education in Bangladesh</h2>
          </div>
          <div class="headline">
                <h2>Rifah Rafia Monir, NYU Anthropology</h2>
          </div>
          <div class="abstract">
          <p class="abstract">
          My presentation will focus on answering &mdash; how do contemporary politics surrounding the Rohingya refugees in Bangladesh affect views on language learning and acquisition? By addressing this question, I am also considering the broader issue of how struggles over language and identity are configured by state policy. My presentation will involve discussions from my study that explored how the language ideologies of different parties uphold their contrasting political interests, and how these interests are shaping policies and preferences about the languages taught in the Rohingya refugee camps in Bangladesh. Original data for the study came from in-depth virtual interviews conducted with instructors teaching in the camps, non- governmental organization (NGO) officials working in the camps, and Bangladeshi government officials responsible for policy-making and management of the camps. Different parties in Bangladesh espouse different attitudes regarding which language the Rohingya children should learn. The data suggests that these different attitudes are based on distinct interests and political motivations. There is an evident desire among the Rohingya people to both preserve their heritage language, Rohingya, and to acquire other languages to survive. On the other hand, the government of Bangladesh is forming Rohingya education policies with its national interests in mind. This situation, which entails permitting and restricting certain languages, is actually more political and less educational. My study argued that the learning centers operating in the refugee camps in Bangladesh are reproducing social and educational inequalities for Rohingya children and systematically depriving them of the right to study their mother language by adopting language policies that only uphold Burmese and English, while subordinating Rohingya, which is the Rohingya refugee people’s mother language. This study has the potential to pave the way for a better learning environment for Rohingya children by bringing into focus the importance of formal mother language learning.</p>
        </div>

        <div class="abstract-title">
                <h2 class="title">Is-real? Linguistic Assertion of Ontological Determination between the Sea and the River</h2>
          </div>
          <div class="headline">
                <h2>Emmanuel Jakob Auerbach Baidani, NSSR Philosophy</h2>
          </div>
          <div class="abstract">
          <p class="abstract">
          Over past few decades an interesting form of linguistic function has become popular in political discourses surrounding Palestine/Israel, from across the map: Strong asserted determinations of an ontological dimension. Certain entities: countries, peoples, governments, borders and historical events are asserted as wholesale ‘not real’ or ‘non existing’. Conversely, others are emphatically announced as ‘real’ and ‘existing’, or even comparatively ‘more real’: “Palestinians don’t exist”; “Isn’treali”; “Israel? What’s that?”; “The Nakba didn’t happen and we will do it to you again”; “There are no borders in Israel”; “God isn’t real but he promised us the land”; etc.</p>

          <p class="abstract">Such claims are often disregarded as facetious or as void ideological blabber. At other times, they produce rage and incite attempts to ground or uproot ontological soundness by their opponents. Regardless of the appropriateness of such responses, such statements call to be analyzed in their seeming absurdity. This paper explores how this class of peculiar linguistic assertions comes to be a tool of political contestation, often with complete disregard, and at times in asserted aware contradiction to ‘reality’. The role of language is unique in such strategies &mdash; these assertions do not derive their force from communicative, persuasive, accusative or justificatory functions, as is common in politics. Rather, they utilize language as a site for asserting strict floating ontological determinations, and it is only by this power that they are capable of actually intervening on the level of reality. At stake then, is not evaluating the coherence of their content with reality, but rather the degree to which they linguistically function as political tools. Such statements reveal the power of language to be weaponized in its absurdity by state and social bodies, and to subsequently influence realities themselves.
          </p>

        </div>

    <div class="abstract-title">
                <h2 class="title">Where is Social Tense in a Tenseless Language?: A Speculative Politics on the Reading and Translating of Mandarin Chinese</h2>
          </div>
          <div class="headline">
                <h2>Xingyan Guo, Columbia Anthropology</h2>
          </div>
          <div class="abstract">
          <p class="abstract">
          Chinese Mandarin is notoriously tenseless. Its logographic characters lack the grammatical mechanics of verb morphology that position action along a timeline from past perfect to present and future anterior. Although Mandarin optionally employs temporal adverbs to signal time, tense remains structurally non-obligatory. Therefore, in Gilles Deleuze’s words, the verb as “not a being but a way of being” cannot be straightforwardly situated within a past–present–future schema in Chinese. Borrowing from Elizabeth A. Povinelli’s framework of social tense in <a href="https://www.dukeupress.edu/economies-of-abandonment"><i>Economies of Abandonment</i></a>, I ask: does the absence of grammatical tense imply the absence of the social divisions of tense that shape belonging, abandonment, and endurance within late liberalism? If not, where should we look for social tense in a tenseless language, and how do we engage it analytically?</p>

          <p class="abstract">I argue that social tense in Mandarin is not located in grammar but in the layered semantic composition of characters and, more importantly, in the bundling and circulation of character compounds across historical contexts. Focusing on Chinese official media discourse describing industrial investment and settlement in Northern Mexico, I examine how settler (arguably colonial) logics are embedded in word formation itself. I propose three methodological interventions: (1) resist comfort with absent time-markers and read relational context intently; (2) forensically dissect character compounds, tracing how noun, adjectival, and verbal elements encode temporal relations; and (3) attend to the historical circulation of words as chronotopes carrying sedimented affect and political imaginaries. By foregrounding social tense beyond grammar, this paper urges scholars working in Mandarin to recalibrate analysis from vectors of meaning-value toward vectors of power, and to recognize how oscillating temporal stances in a “tenseless” language animate the discourses and affective infrastructures of late liberalism.
          </p>

        </div>
    <div class="abstract-title">
                <h2 class="title">Asylum Lawyering as Translating: Examining the Historical Political and Discursive Contingency of Asylum Court</h2>
          </div>
          <div class="headline">
                <h2>Asma Rahimyar, Yale Sociology and Law</h2>
          </div>
          <div class="abstract">
          <p class="abstract">As a socially, historically, and politically constituted system of meaning, asylum law is made up of what are, effectively, language games—the rules of which are opaque, and the stakes of which are often life or death. To be granted refugee status, an asylum seeker must tell their story in accordance with the 1951 Refugee Convention: the Convention delineates five grounds of protection, all of which privilege an individualist model of persecution. As such, the millions of individuals fleeing gender-based violence, gang violence, economic deprivation, and other forms of collective violence do not neatly fall within the Convention’s ambit of protection. It is thus little wonder that the vast majority of displaced people in the world are not considered refugees. </p>

          <p class="abstract"> In this presentation, I will crystallize the role of attorneys as “translators” not only between their client and the presiding asylum adjudicator, but also between their client’s idiosyncratic narrative and the discursive spaces that have historically comprised the refugee status determination process. As I will also argue through analyzing United Nations archival data, these discursive spaces are a direct byproduct of the Convention’s “colonial applicability” clause and the rhetoric delegates from the Global North used to justify it. Until 1967, this clause explicitly limited the refugee definition to Europeans fleeing the events of World War II. To be granted asylum, a claimant must have a “credible” and “well-founded” fear of persecution; adjudicators are trained to assess the sufficiency and credibility of a claimant’s fear through demeanor, level of detail, linear narration, and, implicitly, heavily gendered and racialized metrics. I will detail the corresponding “coaching” process that attorneys facilitate for their clients, ultimately arguing that the process by which a story becomes legible as a case reveals the extent to which asylum court regulates&mdash;and is regulated by&mdash;language.
          </p>

          

        </div>
      </div>
    </div>
