---
title: 2026 Conference | Center for Human Language & Development
body_classes: path-events
---
- content_for :top_banner, partial('acrobat_banner')
:plain
    <div class="block-screenslate-content.block.block-system.block-system-main-block">
      <div class=".views-element-container">
        <div id="jobs">
          <div class="abstract-title">
                <h2 class="title">Intrinsic and Extrinsic Value in the Human Brain</h2>
          </div>
          <div class="headline">
                <h2>India Pinhorn, UCL/MIT</h2>
          </div>
          <div class="abstract">
          <p class="abstract">
          What makes something rewarding? Do humans use the same principles and neural computations to determine how rewarding new shoes are, as they do to determine how rewarding reading a Shakespeare sonnet is, or viewing Monet’s Water Lilies? Here, we test the hypothesis that the brain uses high-level principles to calculate the value of ‘things’, regardless of whether these ‘things’ are material goods (e.g., an eraser), semantic information (e.g., a piece of trivia) or visual images (e.g., a painting). </p>

          <p class="abstract"> Across two experiments (N = 190) participants evaluated semantic information, visual art, and material goods on multiple features, which were reduced to two dissociable value components: intrinsic and extrinsic. Intrinsic value reflected the stimulus’ capacity to alter internal states associated with cognition and aesthetics. Extrinsic value reflected the stimulus’ usefulness for guiding action to alter the external environment. Importantly, an fMRI study, in which participants evaluated semantic information and visual art, revealed that only intrinsic value was coded in the reward circuitry (e.g., striatum, vmPFC, OFC), while extrinsic value was coded in cortical regions implicated in salience, assessing self-relevance and simulating future actions. Early visual and language processing areas were also modulatated by intrinsic value, but not extrisnic value. This occurred despite both components significantly guiding choice and liking. The findings question the assumption that the traditional reward system encodes all sources of value. Instead, it may be primarily attuned to hedonic value that is derived from cognition or aesthetics per-se.</p>
        </div>

        <div class="abstract-title">
                <h2 class="title">(Gricean) Cooperativity Emerges Dynamically</h2>
          </div>
          <div class="headline">
                <h2>Kelly Ma, CUNY</h2>
          </div>
          <div class="abstract">
          <p class="abstract">
          Conversations often begin in uncertainty. Against traditional Gricean theories of communication, interlocutors do not always presuppose a fixed background of cooperativity; instead, they build it as interactions develop. Consider two neighbors meeting for the first time:</p> 
          <p class="abstract">Aden (at the door): Hey—sorry to bug you this late. Is that your speaker, or does sound travel weird here?</p> 
          <p class="abstract">Mira: Ah, could be me. Thin walls?</p>
          <p class="abstract">Aden: I think so. I like to sleep early, so even a podcast level carries.</p>
          <p class="abstract">Mira: Got it, headphones after ten, super easy!</p> 
          <p class="abstract">In this conversation, both Aden and Mira seem to speak cautiously. They hedge and rely on conversational implicature &mdash; what is meant but not said (e.g., “even a podcast level carries”). Successful uptake of these implicatures allows them to build rapport and shift into explicit cooperation. Despite the quotidian nature of their exchange &mdash;interlocutors making implicatures in vague and adversarial contexts where cooperativity cannot be presupposed, existing pragmatic theories struggle to explain this pattern of cooperation. To answer this problem, I propose a Dynamic Model of Cooperativity (DMC) that treats cooperativity as an emergent, dynamic, and scalar conversational state rather than a fixed presumption. Successful implicature doesn't merely presuppose cooperation &mdash; it builds it. Through mechanisms such as epistemic updating, social signaling, and risk control, implicature success raises cooperativity and licenses greater indirectness, while misfires lower cooperativity and trigger repair. In brief, cooperativity and our conversational moves, such as implicature, stand in a reciprocal, mutually reinforcing relation. The DMC expands the Gricean framework by showing how cooperation is not merely a theoretical assumption but is earned through the back-and-forth of conversation itself. Aligning with the recent “social turn” in pragmatics, this paper attempts to foreground the fact that speakers and listeners often begin from positions of uncertainty, asymmetry, or strategic ambiguity.</p>
        </div>

    <div class="abstract-title">
                <h2 class="title">The Mathematics of Syntactic Structures</h2>
          </div>
          <div class="headline">
                <h2>William Oliver, Stony Brook</h2>
          </div>
          <div class="abstract">
          <p class="abstract">1 Introduction. When I say I am a linguist, people ask: “How many languages do you speak?” However, that is not what linguistics is about. Linguists study the properties of language as a window into human cognition. In this talk, I overview how linguists study sentence structure and discuss my own research on recent mathematical models of language.</p>

          <p class="abstract">2 Syntactic Structures. Although language is spoken in linear order, sentences are generated and understood with a hierarchical structure. In my talk, I illustrate this hierarchical structure with the three sentences in (1)-(3).</p>

          <p class="abstract">(1) I shot an elephant in my pajamas</p>
          <p class="abstract">(2) Is the man who is tall happy?</p>
          <p class="abstract">(3) John’s sister sees *himself/him.</p>
        </div>

    <div class="abstract-title">
                <h2 class="title">The Influence of Syntax on Updating Belief Centrally and Peripherally A Comparison of Belief Updating in English German and Russian</h2>
          </div>
          <div class="headline">
                <h2>Henry Whittlesey Schroeder, CUNY</h2>
          </div>
          <div class="abstract">
          <p class="abstract">With a model that divides cognition into central and peripheral networks, one might ask whether and under what conditions a (new) belief endorsed will update centrally rather than peripherally or vice-versa. This paper aims to show that one condition is the syntax of the language in which the (new) belief is processed.</p>
          <p class="abstract">I will argue that syntax and convention in (American) English (e.g., limited scrambling, right-branching structure (SVO), theme/rheme placement constraints) facilitate ceteris paribus either the rejection of a new belief or its endorsement in the central cognitive network (without mediation via peripheral networks). By contrast, syntax and convention in German and Russian (e.g., scrambling (both), left-branching (German) or dual-branching (Russian), theme/rheme flexibility (both)) establish ceteris paribus a pattern of updating where new beliefs are rejected less and frequently allocated to peripheral rather than central cognitive networks. The upshot of these differences is the polarization of (expressed) American cognition due to reduced updating via peripheral networks relative to German and Russian cognition with satellites of alternative, competing beliefs circling peripherally around central ones.</p>

        </div>
      </div>
    </div>
