:plain
  <aside class="layout-sidebar-second" role="complementary">

    <aside class="region region-sidebar-second">

      <div class="views-exposed-form block block-views block-views-exposed-filter-blocksite-search-search search-block-form" data-drupal-selector="edit-" id="block-exposedformsite-searchsearch-3">
        <form action="/search" method="get" id="edit---2" accept-charset="UTF-8">

          <div class="form--inline clearfix">

            <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions--2">
            </div>

          </div>
        </form>

      </div>
      <nav role="navigation" aria-labelledby="block-rightsidebarmenu-menu" id="block-rightsidebarmenu" class="block block-menu navigation menu--right-sidebar-menu">

      </nav>
      <div class="views-element-container block block-views block-views-blockupcoming-events-block-1" id="block-views-block-upcoming-events-block-1">
        <div>
          <div class="view view-upcoming-events view-id-upcoming_events view-display-id-block_1 js-view-dom-id-04f684944839aecd329a00c0df9f0efd84b4e808b068b2b751464b40b622e9c8">
                  </div>
            <div class="view-header">

                <div class="field field--name-field-link field--type-link field--label-hidden field__item"><a href="https://bit.ly/langintern"> Apply:</a></div>
              </div>
            <div class="view-content" style="padding: 0%;">
              <div class="views-row">
                
                  <div class="node__content">
                    <div style="text-align: center; margin-bottom: 2%;" class="event-header">
                        <a href="https://bit.ly/langintern">
                        <img class="default" alt="Undergraduate Research Internship" src="images/intern/2025_lang_internship.png" style="width: 140px"/>
                        <img class="hover" alt="Undergraduate Research Internship" src="images/intern/2025_lang_internship.png" style="width: 140px"/>
                        </a
                    </div>
                  </div>
                  </div>
                


                          <div class="view-header">
                <div class="field field--name-field-link field--type-link field--label-hidden field__item" style="border-top:2px dashed #000;padding-top:5%;"></div>
                <h2><span class="field field--name-title field--type-string field--label-hidden">Graduate Student Conferences</span></h2>
              </div>
            <div class="node__content">
                    <div style="text-align: center; margin-bottom: 2%;" class="event-header">
                    <a href="/events">
                        <img class="default" alt="Multidisciplinary Graduate Student Conference on Language" src="images/2025-conference/Language_Conference_2025.png"/>
                        <img class="hover" alt="Multidisciplinary Graduate Student Conference on Language" src="images/2025-conference/Language_Conference_2025.png"/>
                    </a>
                    </div>
                  </div>
                  </div>
            <!--<div class="view-header">
                <div class="field field--name-field-link field--type-link field--label-hidden field__item" style="border-top:2px dashed #000;padding-top:5%;"><a href="https://event.newschool.edu/languageconference"> Past:</a></div>
              </div>-->
            <div class="node__content">
                    <div style="text-align: center; margin-bottom: 2%;" class="event-header">
                    <a href="/events">
                        <img class="default" alt="Multidisciplinary Graduate Student Conference on Language" src="images/2024-conference/Language_What_Is_It_Good_For.png"/>
                        <img class="hover" alt="Multidisciplinary Graduate Student Conference on Language" src="images/2024-conference/Language_What_Is_It_Good_For.png"/>
                    <a>
                    </div>
                  </div>
            <div class="view-footer">
            <div style="border-bottom:2px dashed #000; border-top:2px dashed #000;"> <p class="students" style="color:rgba(232, 46, 33, 1)">*Currently accepting students.</p></div>
          </div>
        </div>
      </div>
      <div id="block-sidebarpatreonlink" class="block block-block-content block-block-content2adc9977-a526-44cb-9b02-30c0fd9b61e6">
        <div class="field field--name-field-link field--type-link field--label-hidden field__item"><a href="https://forms.gle/558cP85uNEgNmWGMA" target="_blank">Participate in our Research</a></div>
      </div>
      <!--<div class="view-content">-->

        <nav role="navigation" aria-labelledby="block-sidebarsocialmenu-menu" id="block-sidebarsocialmenu" class="block block-menu navigation menu--sidebar-social-menu">

          <ul class="social">
              <li class="menu-item">
                <a href="https://www.instagram.com/humanlanguagelab/" style="line-height: 1.1em;" target="_blank" title="insta-link">Instagram</a>
              </li>
              <li class="menu-item">
                <a style="line-height: 1.1em;" href="https://scholar.google.com/citations?hl=en&user=KyuYFgQAAAAJ&view_op=list_works&authuser=1&gmla=AOv-ny_UNLETc49Y8Jxm_a1W6h3Q95Zeg-b9FiL9lFjWh3y3tQngxIKxdJqob5jFmu8Gz5ERjp5o3m5FRyr2wtaa" target="_blank" title="g-scholar">Google Scholar</a>
              </li>
              <li class="menu-item">
                <a href="https://twitter.com/ruthefoushee"target="_blank" title="twitter-link">"X"</a>
              </li>
          </ul>

        </nav>


      </div>
    </aside>

  </aside>
